<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-container">
  

  <div class="w3-card-12" style="width:40%;margin-left: 440px;">
  <h3>Chuck Noris Jokes</h3>
    <img src="http://media.hotbirthdays.com/upload/2015/07/24/chuck-norris.jpg" alt="Norway" style="width:100%">
    <div class="w3-container w3-center">
      <p>{{ joke }}</p>
   
    </div>
  </div>
</div>

</body>
</html>